/diseño interfazes/Calculator/target/
/diseño interfazes/rellena_informacion/target/
/diseño interfazes/layoutProyect/target/
/diseño interfazes/layoutProyect2/target/
/diseño interfazes/layoutProyect3/target/
/diseño interfazes/layoutProyect3_Borja_PP/target/
/diseño interfazes/layoutProyect2_Borja_PP/target/
/diseño interfazes/layoutProyect1_Borja_PP/target/
.idea/*
.idea