/diseño interfazes/Calculator/target/
/diseño interfazes/rellena_informacion/target/
/diseño interfazes/layoutProyect/target/
/diseño interfazes/layoutProyect2/target/
/diseño interfazes/layoutProyect3/target/
/diseño interfazes/layoutProyect3_Borja_PP/target/
/diseño interfazes/layoutProyect2_Borja_PP/target/
/diseño interfazes/layoutProyect1_Borja_PP/target/
.idea/*
.idea
/diseño interfazes/Prueba1/target/
/diseño interfazes/Formulario/target/
/diseño interfazes/ProyectoTemporizador/nbproject/private/
/diseño interfazes/ProyectoTemporizador/build/
/diseño interfazes/ProyectoTemporizador/dist/
/diseño interfazes/CompConEditor/nbproject/private/
/diseño interfazes/CompConEditor/build/
/diseño interfazes/CompConEditor/dist/
/diseño interfazes/TCompEManual/nbproject/private/
/diseño interfazes/oracionNes/target/
/diseño interfazes/SelectorHoraProj/nbproject/private/
/diseño interfazes/SelectorHoraProj/build/
/diseño interfazes/SelectorHoraProj/dist/
/diseño interfazes/Informe1/target/
/diseño interfazes/RepasoComponentes/nbproject/private/
/diseño interfazes/RepasoComponentes/build/
/diseño interfazes/RepasoComponentes/dist/
